footer{
    display: flex;
    height: 20%;
    justify-content: space-between;
    margin: 0 5%;
    align-items: center;
}

.park-footer{
    width: 8.2vw;
    height: 5vw;;
}

.houston-footer{
    width: 15vw;
    height: 4vw;;
}

.altillo-footer{
    width: 20vw;
    height: 2.2vw;;
}