@media only screen and (max-width: 600px) {
  #responsive {
    color: red;
  }

  #responsive:after {
    content: "extra small";
  }

  .lighting-effect-a {
    display: none;
  }

  .lighting-effect-b {
    display: none;
  }

  .container {
    margin-top: 14vh !important;
    grid-auto-rows: auto !important;
  }

  .header {
    height: 14vh;
    background-image: url("../../img/header-small.png");

    .header__logo {
      width: 17vh;
    }
    .header__content {
      display: none;
    }
  
  }

  
  .section-a {
    grid-template: 60% 40%/ 40% 60%;
    grid-template-areas:
      " content content"
      " . girls";

    .section-a__content {
      align-items: center;
      justify-content: space-evenly;

      .content__text {
        font-size: 6vw;
        margin-bottom: 1vh;
        line-height: 7vh;
        margin-top: 6vh;

        b {
          font-size: 8vw;
        }
      }
    }

    .button-styled--a {
      width: 60vw;
      font-size: 1rem;
      margin-top: 1vh;
    }
    .section-a__tree-image {
      width: 72%;
      display: none;
      align-self: flex-end;
      justify-self: end;
      margin-right: 10vw;
    }

    .slide--first {
      left: 10%;
    }
    .slide--first img {
      width: 40px;
    }
    .slide--first p {
      font-size: 14px;
    }

    .section-a__girls-image{
      padding-top: 10vh;
    }
  }

  .section-b {
    display: grid;
    margin-right: 14%;
    grid-template: 25% 35% 14% 14% 14% / 20% 20% 45% 5%;
    grid-template-areas:
      "  .   big-p  big-p  big-p "
      "logo  image   image  ."
      "  .    p1    p1     p1 "
      "  .    p2    p2    p2 "
      "  .    p3    p3    p3";

    .p1 {
      font-size: 5vw !important;
      margin-right: 5vw !important;
      margin-top: 0px;
    }

    .office_img {
      width: 86% !important;
      justify-self: center;
    }
    .section-b__image {
      width: 140% !important;
    }

    .p2,
    .p3,
    .p4 {
      font-size: 2.1vh !important;
    }
  }

  .section-c {
    margin-top: 10vh;
    padding: 3vh 0vh 0vh 5vh;
    grid-template: 30% 60% 16% / 50% 35%;
    grid-template-areas:
      "content    content"
      "gallery    logo"
      "img      img";
    column-gap: 1vw;

    .section-c__gallery img {
      width: 85%;
      // margin-top: 5vh;
    }

   .section-c__image-a {
      width: 75%;
      margin-bottom: 2vh;
    }

    .content {
      align-self: flex-start;
    }

    .content__p1 {
      font-size: 2.6vh;
    }
    .content__p2 {
      font-size: 1.7vh;
      width: 90%;
    }

     .section-c__image-b {
      width: 35vh;
      justify-self: center;
      margin-left: inherit;
  }
     
  }

  .section-d{

    display: flex;
    padding-top: 14vh;

    .section-d__image{
      width: 100%;
      align-self: flex-end;
      margin-top: 100px;
      margin-bottom: -10px;
    }
    

    .button-styled--d{
      left: 28% !important; 
      width: 45vw !important; 
    }
  }

  
  .phone{
    display: block !important;
  }

  .phone-hide{
    display: none !important;
  }


  .section-e{
    flex-direction: column;
    padding-bottom: 10vh;
  }

  .section-e__text{
    max-width: 70% !important;

    .p1{
      font-size: 7.2vw;
    }
    .p2{
      font-size: 5vw;
    }
    .p3{
      font-size: 3.2vw;
    }
  }

  .section-e__staffs{
    flex-direction: column !important;

    .staff p{
      font-size: 3vw;
    width: 200%;
    margin-top: -3vh;
    }
    .staff__photo {
      width: 30vw !important;
    }
  }

  .section-f{
    .toothbrush{
      margin-right: 10% !important;
      width: 35% !important;
      margin-top: 25vh !important;
    }

    .section-f__logo{
      width: 40vw !important;
    }
    .p1{
      font-size: 7vw !important;
    }

    .p2{
      font-size: 3.5vw !important;
      
    }

    .button-styled--f{
      width: 35vw !important;
    height: 10vw !important;
    }

    
  }

  .section-g{
    flex-direction: column;
    .map{
      width: 100%  !important;
      height: 250px  !important;
      margin-bottom: 35px  !important;
    }
    .button-styled--g{
      height: 59px !important;
      width: 50%  !important;
      padding: 2vw 2vw 2vw 2vw  !important;
    }
  }

  footer{
    height: 15%  !important;

    .park-footer{
      width: 18vw;
    }

    .houston-footer{
      width: 25vw;
    }
  }

  }


